@page "/"

<PageTitle>Snake Eyes</PageTitle>

<h1>Snake Eyes</h1>

<div>
    <Dice Pips="4"/>
    <Dice Pips="6"/>
</div>

@* <p>HighScore:@game.HighScores</p> *@
@* <p>Score:@game.Total</p> *@
@* *@
@* <button>@game.Play</button> *@

@code{

    Dice dice1 = new Dice();

}